main {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.all-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}

@media only screen and (max-width: 850px) {
  h1 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 620px) {
  .all-posts {
    width: 100%;
  }
}