.posts-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 600px;
  margin: 20px auto;
}

.create-post-button {
  padding: 10px 20px;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid #97dae1;
  background-color: #fff;
  font-size: 18px;
  color: black;
  text-decoration: none;
  margin-top: 120px;
  margin-bottom: 20px;
}

.create-post-button:hover {
  background-color: lightgray;
}

.load-more-button {
  padding: 10px 20px;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid #97dae1;
  background-color: #fff;
  font-size: 18px;
  color: black;
  text-decoration: none;
  margin: 20px 0 30px 0;
}

.load-more-button:hover {
  background-color: lightgray;
}
