.posts-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20px auto;
}

.post-wrapper {
  display: flex;
  flex-direction: column;

  width: 70%;
  max-height: 700px;
  margin: 10px auto;
  border: 1px solid gray;
  border-radius: 15px;
  overflow: hidden;
  word-wrap: break-word;
  background-color: antiquewhite;
}

.author-and-date {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px 0 0 10px;
  font-size: 12px;
  color: rgb(68, 68, 68);
}

.author-and-date p {
  margin-right: 10px;
}

.post-title {
  align-self: flex-start;
  word-break: break-all;
  margin: 10px 10px;
}

.post-body {
  margin: 10px;
  width: 95%;
  align-self: flex-start;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.post-body.show-more {
  white-space: normal;
  overflow: visible;
  text-overflow: initial;
}

.show-more-button {
  color: black;
  background-color: white;
  border: 1px solid #97d9e1;
  border-radius: 4px;
  padding: 5px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  margin: 10px;
}

.show-more-button:hover {
  background-color: lightgray;
}

.upvotes {
  display: flex;
  align-items: center;
  margin: 0 10px 10px 10px;
}

.upvotes > * {
  margin-right: 5px;
}

.upvotes p {
  font-weight: 700;
}

.upvote,
.downvote {
  width: 15px;
  height: 15px;
  border: black;
}

.upvote:hover {
  fill: green;
}

.downvote:hover {
  fill: red;
}
