* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, #d9afd9 0%, #97d9e1 100%);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
