* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-wrapper {
  width: 400px;
  height: 400px;
  padding-top: 50px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

form {
  display: flex;
  flex-direction: column;
}

.auth-buttons-container {
  display: flex;
  flex-direction: row;
}

.auth-button {
  padding: 10px 20px;
  border-radius: 10px 0 0 10px;
  border: 1px solid #97d9e1;
  background-color: #fff;
  font-size: 20px;
}

.auth-button:last-child {
  padding: 10px 20px;
  border-radius: 0 10px 10px 0;
}

.auth-button-active,
.auth-button-active:disabled {
  padding: 10px 20px;
  border-radius: 10px 0 0 10px;
  border: 1px solid #97d9e1;
  font-size: 20px;
  background-color: lightgray;
  color: black;
}

.auth-button-active:last-child:disabled {
  padding: 10px 20px;
  border-radius: 0 10px 10px 0;
  border: 1px solid #97d9e1;
  font-size: 20px;
  background-color: lightgray;
  color: black;
}